@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {

    font-family: 'Poppind', sans-serif;  
    margin: 0;
    background-color: rgb(34, 7, 68);

}


header{
    display: flex;
    padding: 2rem 2rem 1rem 2rem;
    background-color: rgb(99, 53, 145);
    align-items: center;
    justify-content: space-between;

}

.search {
    
    border-radius: 50px;
    font-family: inherit;
    width: 12rem;
    padding: .8rem;
    color: #fff;
    background-color: rgb(85, 41, 128);;
    border: 2px solid rgb(78, 38, 128);
    outline: none;
   

}
.search::placeholder {
     color: rgb(191, 173, 208);
     font-size: 18px;
     font-family: inherit;
 }


 .search:focus {
    background-color: rgb(34, 7, 68);
    color: rgb(191, 173, 208);
 }

nav {
     
    display: flex;
    flex-wrap: wrap;
    margin: 0;
   
}
nav a{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 20px;
    color: rgb(191, 173, 208);
    text-align: center;
    font-family: inherit;
    padding: 1rem;
   
}

nav a:hover{
    background-color: rgb(55, 21, 89);

}

.nav a:active{
    background-color: rgb(55, 21, 89);
    color: #eee;
}

.icon {
 
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    display: none;
  
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.movies-card {
    background-color: rgb(71, 34, 116);
    width: 300px;
    border-radius: 3px;
    margin: 1rem;
    
  

}
.movies-card img {
    max-width: 100%;
    
}

.movies-card .movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #eee;
    letter-spacing: 1px;
}

.movies-card .movie-info h3 {
    margin: 0;
    
}

.movies-card .movie-info span {
    background-color: rgb(34, 7, 68);
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    border-radius: 3px;
}

/* Rating styling */
.movies-card .movie-info span.green {
    color: rgb(29, 189, 29);
}
.movies-card .movie-info span.orange {
    color: orange;
}
.movies-card .movie-info span.red {
    color: rgb(163, 49, 49);
}




/* Mobile phone */
@media screen and (max-width: 700px){
    .icon {
        display: block;
    }
    nav {

        margin: 0;
        position: absolute;
        left: -100%;
        top: 70px;
        flex-direction: column;
        width: 50%;
        background-color:  rgb(99, 53, 145);
        transition: all 400ms;
       

    }
    nav a{
        text-align: center;

    }
    .nav a:active{
        background-color: rgb(55, 21, 89);
    }
  
    .nav-active{
        left: 0;
    }

    .movies-card {
        background-color: rgb(71, 34, 116);
        width: 300px;
        border-radius: 3px;
        margin: 1rem;
    }
} 